<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josephbill.unescoapp">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HivArt" />
        <activity android:name=".HivVid" />
        <activity android:name=".HivAud" />
        <activity android:name=".DrugArt" />
        <activity android:name=".DrugAud" />
        <activity android:name=".DrugVid" />
        <activity android:name=".SexArt" />
        <activity android:name=".SexAud" />
        <activity android:name=".SexVid" />
        <activity android:name=".EduArt" />
        <activity android:name=".EduVid" />
        <activity android:name=".EduAud" />
        <activity android:name=".Couns"></activity>
    </application>

</manifest>